<%= form_for(@sitemap) do |f| %>
  <% if @sitemap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sitemap.errors.count, "error") %> prohibited this sitemap from being saved:</h2>

      <ul>
      <% @sitemap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
