<%= onlina_table('Успешное завершение процедуры оплаты тура') do %>
    <p>  Компания Онлайнап поздравляет Вас с покупкой тура. </p>
    <p> В ближайшее время с вами свяжется наш менеджер для подтверждения всех данных.</p>
    <p>На ваш электронный адрес будет отправлено два письма.</p>
    <p>Сохраните эту информацию в надежном месте!</p>
    
    <a onClick="sendToPrint()" href="#">Распечатать описание тура</a>
<% end %>
