<table id="form-table" cellspacing="0" cellpadding="0" width="100%" border="0">

  <% @privat_spaces.each do |privat_space| %>
    <%= render('client_passport', :privat_space => privat_space) %>
    <%= render('separator') unless @privat_spaces.last == privat_space %>
  <% end %>

</table>
