<div class="howToBook">
  <div class="video">
    <img src="/images/visa.jpg" alt="">
    <img src="/images/mastercard.jpg" alt="">
    <!--<img src="/images/chrono.gif" alt="">-->

  </div>
  <h2>Информация по оплате</h2>

  <p>К оплате принимаются пластиковые карты Visa и MasterCard.<br />Размер комиссии устанавливается в соответствии с тарифами банка.
  </p>
  <div><a href="/static_pages/pay_info"><strong>Узнать больше</strong></a></div>
</div>
