<table cellspacing="0" cellpadding="0" width="100%" border="0">
  <tr valign="bottom">
    <td height="14">
      <img height="6" src="../Images/bg20.gif" width="15" border="0"></td>
    <td style="background: url(../Images/bg21.gif) repeat-x left bottom">
          <span class="h1">
              <img height="7" src="../Images/ic1.gif" width="7" border="0">&nbsp;&nbsp; <%= title %></span>
    </td>
    <td>
      <img height="6" src="../Images/bg22.gif" width="15" border="0"></td>
  </tr>
  <tr valign="top">
    <td width="15" style="background: url(../Images/bg18.gif) repeat-y left top">
      <img src="../Images/e.gif" width="15" height="1" border="0"></td>
    <td width="100%">

      <%= table %>

    </td>
    <td width="15" style="background: url(../Images/bg19.gif) repeat-y left top">
      <img src="../Images/e.gif" width="15" height="1" border="0"></td>
  </tr>
  <tr>
    <td height="14">
      <img src="../Images/bg15.gif" width="15" height="14" border="0"></td>
    <td style="background: url(../Images/bg16.gif) repeat-x left top">
      <img src="../Images/e.gif" width="1" height="1" border="0"></td>
    <td>
      <img height="14" src="../Images/bg17.gif" width="15" border="0"></td>
  </tr>
</table>
