<div class="countries">
    <h2>Города Египта</h2>
    <ul>
        <li>
            <a href="#"><img class="pic" src="" width="59" height="59" alt="" /></a>
            <h3><a href="#">Болгария</a></h3>
            <p>Государство на Юге Европы, на Балканском полуострове, омывается Черным морем</p>
        </li>
        <li class="even"><!-- каждый второй элемент имеет отличный стиль -->
            <a href="#"><img class="pic" src="" width="59" height="59" alt="" /></a>
            <h3><a href="#">Великобритания</a></h3>
            <p>Государство в Северо-Западной Европе, на Британских островах (остров Великобритания и Государство в Северо-Западной Европе, на Британских островах (остров Великобритания и</p>
        </li>
        <li>
            <a href="#"><img class="pic" src="" width="59" height="59" alt="" /></a>
            <h3><a href="#">Марокко</a></h3>
            <p>Королевство Марокко расположено в северо-западной части Африки,</p>
        </li>
        <li class="even">
            <a href="#"><img class="pic" src="" width="59" height="59" alt="" /></a>
            <h3><a href="#">Великобритания</a></h3>
            <p>Государство в Северо-Западной Европе, на Британских островах (остров Великобритания и</p>
        </li>
        <li>
            <a href="#"><img class="pic" src="" width="59" height="59" alt="" /></a>
            <h3><a href="#">Болгария</a></h3>
            <p>Государство на Юге Европы, на Балканском полуострове, омывается Черным морем</p>
        </li>
    </ul>
    <div><a href="#"><strong>Остальные страны</strong></a></div>
</div>
<div class="booklet">
    <a href="#"><img src="/images/booklet.png" width="227" height="51" alt="Памятка путешественнику" /></a>
</div>
