<div class="topTen">
  <h3> <a href="/countries">Экскурсии по странам</a> </h3>
  <br/>
  <!--<ol>-->
    <!--<% @top_countries.each do |country| %>-->
        <!--<li><i></i><%= link_to country.name, country %></li>-->
    <!--<% end %>-->
  <!--</ol>-->
   <div class="booklet">
      <a href="/static_pages/booklet"><img src="/images/booklet.png" width="227" height="51" alt="Информация для путешественника"/></a>
   </div>

   <br/>
    <div id="object111">
      <object name="callme" width="227" height="114" align="middle">
      <param name="wmode" value="opaque">
    <embed src="http://universe.uiscom.ru/media/flash/callme200x100.swf?
h=9xnAwWnrgfAt7vrADge1vOfXdLzxnuSw1e6xatYtIxWP2noFDDG9qV5EFEb293y0&color=green&pe
rson=man&text=callme" wmode="transparent" width="227" height="114" quality="high" bgcolor="#ffffff" name="callme"
           align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer"/>
       </object>
   </div>
  <div id="whites"> <p>&nbsp;&nbsp; </p> </div>

  <hr/>
     <div id="vkontakte">

         <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?45"></script>
         <!-- VK Widget -->
         <div id="vk_groups"></div>
         <script type="text/javascript">
          VK.Widgets.Group("vk_groups", {mode: 2, width: "227", height: "250"}, 31423344);
         </script>
     </div>


</div>